.ba-container-form {
  padding: 70px 50px;
  margin: 0 auto;
  background: url(../../assets/img/ba-bgr.jpg);
  background-size: cover;
}

.ba-form__title {
  display: flex;
  margin-bottom: 50px;
}
.ba-container-form__title + .ba-container-form__title {
  margin-left: 27px;
}

.ba-container-form__title {
  color: #e0c3ef;
  font-size: 18px;
  text-decoration: none;
  border-bottom: 0;
  transition: all 0.4s ease-out;

  & h4 {
    border-bottom: 2px solid transparent;
    transition: all 0.4s ease-out;

    &:hover {
      border-bottom: 2px solid #e46b67;
      color: #fff;
      transition: all 0.4s ease-in;
    }
  }
}

.ba-label {
  margin-bottom: 20px;
  &__input {
    background-color: transparent;
    border: 2px solid rgba(192, 192, 192, 0.5);
    width: 100%;
    height: 40px;
    padding-left: 10px;
  }
  &--letter {
    font-size: 12px;
  }
  &--indent{
    margin-bottom: 40px;
  }
}

.ba-button {
  background: #2dad92;
  padding: 0 40px;
  min-height: 42px;
  width: 100%;
  margin-bottom: 30px;
  border: none;
  font-size: 18px;
  &:hover {
    background: none;
    border: 1px solid #2dad92;
    color: #2dad92;
  }
}

.ba-label__сheckbox:focus {
  background-color: #23ae92;
}
.ba-form-bottom {
  display: flex;
  justify-content: space-between;

  &__link {
    text-decoration: none;
    color: #e0c3ef;
    font-size: 13px;
    border-bottom: 1px solid #e0c3ef;
    font-weight: 400;
    &:hover {
      border-bottom: none;
    }
  }
}