@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");

body {
  font: 700 14px/1.5 "Quicksand", sans-serif;
  color: #fff;
}

/* Layout */
.ba-container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 400px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/* Typography */
a,
input[type="submit"],
input[type="button"],
button {
  transition: color 0.3s ease-in, border-color 0.3s ease-in,
  background-color 0.3s ease-in, opacity 0.3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button {
  display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover {
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
  transition: color 0.3s ease-in, border-color 0.3s ease-in,
  background-color 0.3s ease-in, opacity 0.3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus,
button[type="submit"]:focus {
  outline: none;
}
textarea {
}

.ba-container-form {
  padding: 70px 50px;
  margin: 0 auto;
  background: url(../../img/ba-bgr.jpg);
  background-size: cover;
}

.ba-form__title {
  display: flex;
}
.ba-container-form__title + .ba-container-form__title {
  margin-left: 27px;
}

.ba-container-form__title {
  color: #e0c3ef;
  font-size: 18px;
  text-decoration: none;
  border-bottom: 0;
  transition: all 0.4s ease-out;
}

.ba-container-form__title h4 {
  border-bottom: 2px solid transparent;
  transition: all 0.4s ease-out;
}


.ba-container-form__title h4:hover {
  border-bottom: 2px solid #e46b67;
  color: #fff;
  transition: all 0.4s ease-in;
}
.ba-form__title {
  margin-bottom: 50px;
}
.ba-label {
  margin-bottom: 20px;
}
.ba-label__input {
  background-color: transparent;
  border: 2px solid rgba(192, 192, 192, 0.5);
  width: 100%;
  height: 40px;
  padding-left: 10px;
}

.ba-label--letter {
  font-size: 12px;
}
.ba-label--indent{
  margin-bottom: 40px;
}

.ba-button {
  background: #2dad92;
  padding: 0 40px;
  min-height: 42px;
  width: 100%;
  margin-bottom: 30px;
  border: none;
  font-size: 18px;
}

.ba-button:hover {
  background: none;
  border: 1px solid #2dad92;
  color: #2dad92;
}
.ba-label__сheckbox:focus {
  background-color: #23ae92;
}
.ba-form-bottom {
  display: flex;
  justify-content: space-between;
}
.ba-form-bottom__link {
  text-decoration: none;
  color: #e0c3ef;
  font-size: 13px;
  border-bottom: 1px solid #e0c3ef;
  font-weight: 400;
}

.ba-form-bottom__link:hover {
  border-bottom: none;
}