$c-green: #8CCD0B;
$c-orange: #FC7A08;
$c-pink: #FC3C96;
$c-light-pink: #FF5CA9;
$c-blue: #139AE1;
$light-blue: #27A9EE;
$c-white: white;
$c-dark: #272F38;
$c-light: #E7F5FC;
$c-grey: #E0E0E0;
$c-dark-grey: #B5B5B5;
$c-black: #000000;
$c-txt: #101928;
$c-red: #E80E0E;

$colors: ( 'green': $c-green,  'orange': $c-orange,  'pink': $c-pink,  'light-pink': $c-light-pink,  'blue': $c-blue,  'light-blue': $light-blue,  'white': $c-white,  'dark': $c-dark,  'light': $c-light,  'grey': $c-grey,  'error': $c-red);
