.block-btn {
  display: flex;
}

.button-open {
  padding: 12px 24px;
  margin: 0 auto;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  background: #2dad92;
  color: white;
  border: 1px solid transparent;
  trasition: .4 ease-out-in;

}
.button-open:before {
   content: '';

 }
.button-open:hover {
  color: black;
  border: 1px solid black;
   background: transparent;
   trasition: .4 ease-in;
 }
